
* {
  margin: 0;
  padding: 0;

}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
body {
  display: flex;
}
#welcome-section {
  height: 100vh;
}


#navbar{
	position: fixed;
	top:0;
  background-color: #f44336;
  height: 5vh;
  width: 100vw;
}

#navbar a{
  padding-left: 0.2em;
  padding-right: : 0.2em;
  padding-top: 10px;
  text-decoration: none;
  color: white;
}
